# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Golf Game.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\GitHub\mega-golf-golf\Golf Game\.idea\.idea.Golf Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
